<div class="container">
    <div class="row">
        <div class="col">
            <section class="bg-dark p-4 my-4 rounded">




                <div class="col ">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 registro-form-header">
                                <p class="registro-form-font-header lead">Retirar
                                    <p>
                            </div>
                        </div>
                        <div class="row m-3">
                            <div class="col-md-12 registro-form">
                                <form [formGroup]="retiroForm">
                                    <div class="m-3">
                                        <label for="cripto" class="form-label"></label>
                                        <input type="text" formControlName="cripto" id="cripto" class="form-control" placeholder="Criptomoneda">

                                    </div>
                                    <div class="m-3">
                                        <label for="wallet" class="form-label"></label>
                                        <input type="number" formControlName="wallet" id="wallet" class="form-control" formControlName="wallet" placeholder="Número de Wallet">

                                    </div>

                                    <div class="m-3">
                                        <label for="cantidad" class="form-label"></label>
                                        <input type="number" formControlName="cantidad" id="cantidad" class="form-control" formControlName="cantidad" placeholder="Cantidad a Retirar">

                                    </div>

                                    <div class="m-3">
                                        <label for="monto" class="form-label"></label>
                                        <input type="number" formControlName="monto" id="monto" class="form-control" formControlName="monto" placeholder="Monto">

                                    </div>

                                    <div class="m-3">
                                        <button type="button" class="btn btn-primary mt-3" (click)="retirar()">Retirar!</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>