<section id="services">
  <div class="text-center">
    <h1 class="text-center fw-semibold" style="padding:1rem; font-size:100px; font-family: 'Inconsolata', monospace;">BESTWALLET</h1> <br>
    <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="currentColor" class="bi bi-gem" viewBox="0 0 16 16">
      <path d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6l3-4zm11.386 3.785-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495 8 13.366l2.532-7.876-5.062.005zm-1.371-.999-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l5.113 6.817-2.192-6.82L1.5 5.5zm7.889 6.817 5.123-6.83-2.928.002-2.195 6.828z"/>
    </svg>
    <div class="col-md-12" >
      <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-warning"></i>
          <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
      </span>
      <h4 class="my-3 display-5 fw-semibold" style="font-family: 'Inconsolata', monospace;">¿Aún no ingresaste al mundo de las cripto?</h4>
      <p class="fs-3" style="font-family: 'Inconsolata', monospace;">¡Es hora de que seas parte del universo BESTWALLET! </p>
      <div class="text-lg-start">
        <img src="assets/imgs/criptomovil.png" alt="movil">
      </div>
   </div>
  </div>
    <div class="container py-0">
        <section>
        <div id="page-top1" class="row text-center">
            <div class="col-md-4" >
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-warning"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3 display-5 fw-semibold text-center" style="font-family: 'Inconsolata', monospace;">Operaciones en pesos y en moneda extranjera</h4>
                <p class="fs-4 text-center" style="font-family: 'Inconsolata', monospace;">La moneda con la que operes ya no es un limite para BESTWALLET</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-warning"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3 display-5 fw-semibold text-center" style="font-family: 'Inconsolata', monospace;">¡Comprá y vende criptomonedas!</h4>
                <br>
                <br>
                <p class="fs-4 text-center" style="font-family: 'Inconsolata', monospace;">Así es! Comprá y vendé criptomonedas de la manera más simple y rápida con solo un clic</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-warning"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3 display-5 fw-semibold text-center" style="font-family: 'Inconsolata', monospace;">Variedad de criptomonedas</h4>
                <br>
                <br>
                <p class="fs-4 text-center" style="font-family: 'Inconsolata', monospace;">Tendrás a tu alcance amplia gama de criptomonedas que te darán la mejor rentabilidad del mercado.</p>

            </div>

        </div>
        <br>
        <br>
      </section>

    </div>
</section>
