<div class="container">
    <div class="row">
        <div class="col-md-12 registro-form-header">
            <p class="registro-form-font-header lead">Crear cuenta <span> nueva</span>
            <p>
        </div>
    </div>
    <div class="row m-3">
        <div class="col-md-12 registro-form">
            <form [formGroup]="form">
                <div class="m-3">
                    <label for="nombre" class="form-label"></label>
                    <input type="text" formControlName="nombre" id="nombre" class="form-control" placeholder="Nombre">
                    <div *ngIf="Nombre?.invalid && (Nombre?.dirty || Nombre?.touched)" class="alert">
                        <div *ngIf="Nombre?.errors?.['required']">
                            Name is required.
                        </div>
                    </div>
                </div>
                <div class="m-3">
                    <label for="apellido" class="form-label"></label>
                    <input type="text" formControlName="apellido" id="apellido" class="form-control"
                        formControlName="apellido" placeholder="Apellido">
                    <div *ngIf="Apellido?.invalid && (Apellido?.dirty || Apellido?.touched)" class="alert">
                        <div *ngIf="Apellido?.errors?.['required']">
                            <p class="text-danger">
                                El apellido es requerido.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="m-3">
                    <label for="DNI" class="form-label"></label>
                    <input type="dni" formControlName="dni" id="dni" class="form-control" placeholder="DNI">
                    <div *ngIf="DNI?.invalid && (DNI?.dirty || DNI?.touched)" class="alert">
                        <div *ngIf="DNI?.errors?.['required']">
                            <p class="text-danger">
                                El DNI es requerido.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="m-3">
                    <label for="Telefono" class="form-label"></label>
                    <input type="Telefono" formControlName="telefono" id="Telefono" class="form-control"
                        placeholder="Teléfono">
                    <div *ngIf="Telefono?.invalid && (Telefono?.dirty || Telefono?.touched)" class="alert">
                        <div *ngIf="Telefono?.errors?.['required']">
                            <p class="text-danger">
                                El Teléfono es requerido.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="m-3">
                    <label for="FechaNacimiento" class="form-label"></label>
                    <input type="FechaNacimiento" formControlName="fechaNacimiento" id="FechaNacimiento"
                        class="form-control" placeholder="Fecha de Nacimiento">
                    <div *ngIf="FechaNacimiento?.invalid && (FechaNacimiento?.dirty || FechaNacimiento?.touched)"
                        class="alert">
                        <div *ngIf="FechaNacimiento?.errors?.['required']">
                            <p class="text-danger">
                                La Fecha de Nacimiento es requerida.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="m-3">
                    <label for="email" class="form-label"></label>
                    <input type="email" formControlName="email" id="email" class="form-control" formControlName="email"
                        placeholder="Correo Electrónico">
                    <div *ngIf="Email?.invalid && (Email?.dirty || Email?.touched)" class="alert">
                        <div *ngIf="Email?.errors?.['required']">
                            <p class="text-danger">
                                El email es requerido.
                            </p>
                        </div>
                        <div *ngIf="Email?.errors?.['email']">
                            <p class="text-danger">
                                El formato de email no es válido.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="m-3">
                    <label for="password" class="form-label"></label>
                    <input type="password" formControlName="password" id="password" class="form-control"
                        placeholder="Contraseña">
                    <div *ngIf="Password?.invalid && (Password?.dirty || Password?.touched)" class="alert">
                        <div *ngIf="Password?.errors?.['required']">
                            <p class="text-danger">
                                La contraseña es requerida.
                            </p>
                        </div>
                        <div *ngIf="Password?.errors?.['pattern']">
                            <p class="text-danger">
                                La contraseña no es válida.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="m-3">
                    <div class="login">
                        <p> ¿Ya tienes una cuenta? <a routerLink="/loguearse">Inicia Sesión</a></p>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            He leído y acepto los <a href="#">Términos y condiciones</a>
                        </label>
                    </div>
                </div>
                <div class="m-3">
                    <button type="submit" class="btn btn-primary mt-3" (click)="register()">Registrarme</button>
                </div>
            </form>
        </div>
    </div>
</div>