

<div class="container">
    <div class="row">
        <div class="col-md-12 registro-form-header">
            <p class="registro-form-font-header lead">Crear cuenta <span> nueva</span>
            <p>
        </div>
    </div>
    <div class="row m-3">
        <div class="col-md-12 registro-form">
            <form [formGroup]="form">
                <div class="m-3">
                    <label for="nombre" class="form-label"></label>
                    <input type="text" formControlName="nombre" id="nombre" class="form-control" placeholder="Nombre">
                    <div *ngIf="nombre?.invalid && (nombre?.dirty || nombre?.touched)" class="alert">
                        <div *ngIf="nombre?.errors?.['required']">
                            Name is required.
                        </div>
                    </div>
                </div>
                <div class="m-3">
                    <label for="apellido" class="form-label"></label>
                    <input type="text" formControlName="apellido" id="apellido" class="form-control"
                        formControlName="apellido" placeholder="Apellido">
                    <div *ngIf="apellido?.invalid && (apellido?.dirty || apellido?.touched)" class="alert">
                        <div *ngIf="apellido?.errors?.['required']">
                            <p class="text-danger">
                                El apellido es requerido.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="m-3">
                    <label for="email" class="form-label"></label>
                    <input type="email" formControlName="email" id="email" class="form-control" formControlName="email"
                        placeholder="Correo Electrónico">
                    <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert">
                        <div *ngIf="email?.errors?.['required']">
                            <p class="text-danger">
                                El email es requerido.
                            </p>
                        </div>
                        <div *ngIf="email?.errors?.['email']">
                            <p class="text-danger">
                                El formato de email no es válido.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="m-3">
                    <label for="password1" class="form-label"></label>
                    <input type="password" formControlName="password1" id="password1" class="form-control"
                        formControlName="password1" placeholder="Contraseña">
                    <div *ngIf="password1?.invalid && (password1?.dirty || password1?.touched)" class="alert">
                        <div *ngIf="password1?.errors?.['required']">
                            <p class="text-danger">
                                La contraseña es requerida.
                            </p>
                        </div>
                        <div *ngIf="password1?.errors?.['pattern']">
                            <p class="text-danger">
                                La contraseña no es válida.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="m-3">
                    <label for="password2" class="form-label"></label>
                    <input type="password" formControlName="password2" id="password2" class="form-control"
                        formControlName="password2" placeholder="Reingrese la Contraseña">
                    <div *ngIf="password2?.invalid && (password2?.dirty || password2?.touched)" class="alert">
                        <div *ngIf="password2?.errors?.['required']">
                            <p class="text-danger">
                                La contraseña es requerida.
                            </p>
                        </div>
                        <div *ngIf="password2?.errors?.['pattern']">
                            <p class="text-danger">
                                La contraseña no es válida.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="m-3">
                    <div class="login">
                        <p> ¿Ya tienes una cuenta? <a routerLink="/loguearse">Inicia Sesión</a></p>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            He leído y acepto los <a href="#">Términos y condiciones</a>
                        </label>
                    </div>
                </div>
                <div class="m-3">
                    <button type="submit" class="btn btn-primary mt-3" (click)="register()">Registrarme</button>
                </div>
            </form>
        </div>
    </div>
</div>
