.container {
    margin-top: 1px;
    font-family: 'Roboto', sans-serif;
    /* height: 100vh; */
}

#Ultimos-movimientos-subtitle {
    color: black;
}

.balance {
    text-align: end;
}

.col {
    margin-top: 2ex;
}

table {
    table-layout: fixed;
}