<div class="container">
    <div class="row">
        <div class="col">
            <section class="bg-dark p-4 my-4 rounded">

                
                
                
                <div class="col ">
                    
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 registro-form-header">
                                <p class="registro-form-font-header lead">Depositar<p>
                            </div>
                        </div>
                        <div class="row m-3">
                            <div class="col-md-12 registro-form">
                                <form>
                                    <div class="m-3">
                                        <label for="nombre" class="form-label"></label>
                                        <input type="text" formControlName="nombre" id="nombre" class="form-control" placeholder="Nombre Completo en Tarjeta de Crédito">
                                        
                                    </div>
                                    <div class="m-3">
                                        <label for="numero" class="form-label"></label>
                                        <input type="number" formControlName="numero" id="numero" class="form-control"
                                            formControlName="numero" placeholder="Número Tarjeta de Crédito">
                                        
                                    </div>
                                    <div class="m-3">
                                        <label for="seguridad" class="form-label"></label>
                                        <input type="password" formControlName="seguridad" id="seguridad" class="form-control" formControlName="seguridad"
                                            placeholder="Código de Seguridad">
                                       
                                    </div>
                                    <div class="m-3">
                                        <label for="Importe" class="form-label"></label>
                                        <input type="number" formControlName="importe" id="importe" class="form-control"
                                            formControlName="importe" placeholder="Importe $">
                                        <div >
                                            
                                           
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="m-3">
                                        <button type="submit" class="btn btn-primary mt-3">Depositar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    

